{% extends "layout.html" %}

{% block content %}




<div class="row">

</div>
<div class="row">
    <div class="col-md-4">
        <h2 class="eng"></h2>
        <p class="eng">

        </p>
    </div>
    <div class="eng">
        <h2 class="eng">About the project</h2>
        <p class="eng">
            The site is a final project in Data Science int 10th grade in Tichonet
            <br /><br />
            The projact combines two areas of knowledge:
            <br /><br />
            * Data Science
            <br />
            * Programming in the Web Environment
            <br /><br />
            In the project i found data bases in the web that i want to base my site on them that allows access to the data. The purpose of the site is to analyze the data and give the user the data in a more convenient way
            <br /><br />
            The project is based on the following technological components:
            <br /><br />
            * Python
            <br />
            * Pandas
            <br />
            * Flask
        </p>
    </div>
</div>

</div>






     {% endblock %}