﻿{% extends "layout.html" %}

{% block content %}

<h2 class="heb">בדף זה נסביר על קבצי המידע עליהם האתר בנוי ונוכל לגשת אליהם ישירות</h2>
<h3></h3>

<div class="row my-grid-borders">
    <p> </p>
</div>
<div class="row my-grid-borders">
    <div class="col-md-5 my-grid-borders"><a href="{{ url_for('nba') }}">nba injuries Dataset</a></div>
    <div class="col-md-5 my-grid-borders">
        <p ckass="heb">קובץ המידע על הפציעות בין השנים 2010 - 2020 בליגת הכדורסל הטובה בעולם</p>
    </div>
</div>



{% endblock %}