﻿{% extends "layout.html" %}


{% block content %}

<div class="jumbotron">
    <h1 class="heb">NBA injuries</h1>
</div>

<div class="row">
    <div class="col-md-6">
        <h2 class="heb">injuries during the last decade in the NBA</h2>
        <p class="heb">
            פציעות בספורט הוא גרום עיקרי לפרישות או לירידה ברמת המשחק ברחבי העולם ובכל ענפי הספורט
            <br /><br />
            האתר יעסוק בפציעות בליגת הכדורסל הטובה בעולם ובעזרתו נוכל לנתח את הפציעה הנפוצה ביותר ואת הקבוצה 
            עם הכי הרבה פציעות וכך אולי נוכל גם לקשר לשיטת האימון או לרופאי הקבוצה.
            <br /><br />
        </p>
    </div>
    <div class="col-md-1">
    </div>
    <div class="col-md-5">
        <br /><br /><br /><br /><br />
        <td>
            <img src="https://d29m18w01sxjzp.cloudfront.net/th_q_750_390_61774_westbrookrussellinjury.jpg" width="300" height="200" />
        </td>
    </div>
    <div class="col-md-1">
    </div>
    <div class="col-md-5">
        <td>
            <img src="https://www.myrecordjournal.com/getattachment/454b47b6-4832-4455-a480-4b3c0f077436/attachment" width="300" height="200" />
        </td>
    </div>
</div>




{% endblock %}