﻿{% extends "layout.html" %}
{% import "bootstrap/wtf.html" as wtf %}

{% block content %}

<h2>{{ title }}.</h2>
<h3>{{ message }}</h3>


<div class="row my-grid-borders">
    <p> </p>
</div>
<div class="row my-grid-borders">
    <div class="col-md-2 my-grid-borders"><img class="contain" src={{ img1 }} alt='Missing'></div>
</div>
<div class="row my-grid-borders">
    <h2>nba injurys Dataset Fields</h2>
</div>
<div class="row my-grid-borders">
    <table class="table table-striped">
        <thead>
            <tr>
                <th>Field</th>
                <th>Description</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>Date</td>
                <td class="heb">התאריך המדויק בו קרתה הפציעה</td>
            </tr>
            <tr>
                <td>Team</td>
                <td>הקבוצה בה השחקן הפצוע שיחק</td>
            </tr>
            <tr>
                <td>Relinquished</td>
                <td>שמו המלא של השחקן שנפצע</td>
            </tr>
            <tr>
                <td>Notes</td>
                <td>הסבר על סוג הפציעה</td>
            </tr>
        </tbody>
    </table>
</div>
<div class="row my-grid-borders">
    <div class="col-md-5 my-grid-borders">
        <form method="post">
            {{ form1.csrf_token }}
            <input class="btn btn-success" type="submit" name="action" value="Expand">
        </form>
    </div>
    <div class="col-md-5 my-grid-borders">
        <form method="post">
            {{ form2.csrf_token }}
            <input class="btn btn-danger" type="submit" name="action" value="Collapse">
        </form>
    </div>
</div>
<div class="row my-grid-borders">
    {{ raw_data_table | safe}}
</div>


{% endblock %}