﻿{% extends "layout.html" %}
{% import "bootstrap/wtf.html" as wtf %}

{% block content %}





<div class="row">

    <div class="col-md-4">
        <form method="post">
            {{ form1.csrf_token }}
            {{ wtf.form_field(form1.teams)}}
            {{ wtf.form_field(form1.year)}}
            <input class="btn btn-primary" type="submit" value="submit">
        </form>
    </div>
    <div class="col-md-8">
        <div class="row">
            <h4>injuries in the nba</h4>
            <img src={{ chart }} class="img-thumbnail" alt="not found">
        </div>
    </div>
</div>

<hr />



<hr />

    {% endblock %}